<h1>It's for CLASS COMPONENT</h1>

<ul *ngFor="let person of people">
    <li [ngClass]="{
    'text-success':person.country === 'UK',
    'text-primary':person.country === 'USA',
    'text-danger':person.country === 'HK'
    }">
    {{ person.name }} ({{ person.country }})
    </li>
  </ul>
  <ul *ngFor="let person of people">
    <li [class.text-success]="person.country === 'UK'"
        [class.text-primary]="person.country === 'USA'"
        [class.text-danger]="person.country === 'HK'">
      {{ person.name }} ({{ person.country }})
    </li>
  </ul>
